.hr-lines:before{
    content:" ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 0;
    background: rgb(190, 188, 188);
  }
  .hr-lines{
    position: relative;
  }
  .hr-lines{
    position: relative;
    /*  new lines  */
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  .hr-lines:after{
    content:" ";
    height: 2px;
    width: 130px;
    background: rgb(190, 188, 188);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
    
    